body
{
	min-width: 600px;
}

#container
{
	width: 500px;

	padding: 20px 0px;
	margin: auto;

	text-align: center;
}

/* Liste */
ul
{	
 	display: inline-block;
	
	min-height: 199px;
 	
 	padding: 0;

 	list-style: none;

	background-color: #0FBBB5;

	box-shadow: 0px 0px 10px 0.5px grey;
}

ul li
{
	padding: 10px;

	text-align: center;
}

ul li:nth-child(1)
{
	border-bottom: 1px solid black;

	background-color: #DADADA;
}

ul .middle
{
	display: inline-block;
	float: left;
	
	width: 229.5px;
	
	height: 100px;
	line-height: 100px;

	border-bottom: 1px solid black;
	background-color: #0FBBB5;

	transition: all 0.5s;
}

ul .middle:hover
{
	background-color: #19D2CB;
}

ul li:nth-child(2)
{
	border-right: 1px solid black;
}

ul li:nth-last-child(1)
{
	border-top: 1px solid black;

	background-color: #DADADA;

	transition: all 0.5s;
}

ul li:nth-last-child(1):hover
{
	background-color: #BFBFBF;
}

ul #li_gif
{
	width: 100%;

	height: 50px;
	line-height: 25px;
	
	padding: 0;
}

ul #li_gif table
{
	width: 100%;

	border-spacing: 0px;
}

ul #li_gif tr td
{
	width: 30%;
	height: 55px;
	
	border-bottom: 1px solid black;

	cursor: pointer;
}

ul #li_gif tr td:nth-child(1)
{
	background: url("../images/biere.png") no-repeat;
	background-size: 45px 45px;
	background-position: center;

	transition: background-color 1s;
}

ul #li_gif tr td:nth-child(1):hover
{
	background: url("../images/biere.gif") no-repeat;
	background-size: 45px 45px;
	background-position: center;
	background-color:  #19D2CB;
}

ul #li_gif tr td:nth-child(2)
{
	background: url("../images/singe.png") no-repeat;
	background-size: 45px 45px;
	background-position: center;

	transition: background-color 1s;
}

ul #li_gif tr td:nth-child(2):hover
{
	background: url("../images/singe.gif") no-repeat;
	background-size: 45px 45px;
	background-position: center;
	background-color:  #19D2CB;
}

ul #li_gif tr td:nth-child(3)
{
	background: url("../images/banane.png") no-repeat;
	background-size: 45px 45px;
	background-position: center;

	transition: background-color 1s;
}

ul #li_gif tr td:nth-child(3):hover
{
	background: url("../images/banane.gif") no-repeat;
	background-size: 45px 45px;
	background-position: center;
	background-color:  #19D2CB;
}

ul #li_gif tr td:not(:last-child)
{
	border-right: 1px solid black;
}

#canvas_li
{
	height: 0;
	width: 0;
	padding: 0;
}

#canvasfile_li
{
	height: 0;
	width: 0;
	padding: 0;
}

/* canvas */
canvas
{
	width: 500px;
	height: 375px;

	position: absolute;
	margin-top: 1px;

	opacity: 0.5;
	background-color: blue;
}

#canvasfile
{
	width: 500px;
	height: 375px;

}

#livid
{
	height: 375px;
	
	padding: 0;

	margin-top: 1px;
}

#lifile
{
	height: 375px;

	padding: 0;

	margin-top: 1px;
}

.post
{
	margin-top: 20px; 

	border: 1px solid grey;
	border-radius: 3px;

	background-color: #19D2CB;
}

.post p
{
	padding: 10px; 
}

.post img
{
	width: 480px;
}

#div_comment
{
	padding: 10px;
}

.comment 
{
	margin: 5px;

	text-align: left;
	border-bottom: 1px solid black;
}

.comment p
{
	-ms-word-break: break-all;
    word-break: break-all;

	padding: 0;
}

.comment .content
{
	padding-left: 15px;
}

#likes
{
	text-align: left;
	border-bottom: 1px solid black;
}