body
{
	min-width: 600px;
}

header h1:active
{
	padding-left: 50px;

	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}

#container
{
	width: 85%;
	max-width: 600px;

	margin: 30px auto;

	padding: 0px 0px 40px 0px;

	border-radius: 20px;

	text-align: center;

	background-color: #0FBBB5;

	box-shadow: 0px 0px 5px 0.5px grey;
}

table
{
	width: 100%;

	height: 50px;
	line-height: 50px;

	margin-bottom: 20px;

	border-spacing: 0px;
	border-bottom: 1px solid #09908B;
	
	text-align: center;
}

table td
{
	width: 33%;

	cursor: pointer;
}

table td
{
	transition: all 1s;
}

table td:not(:last-child)
{
	border-right: 1px solid  #09908B;
}

table #table_login
{
	border-top-left-radius: 20px;

	background-color: #19D2CB;
}

table #table_forgot
{	
	border-top-right-radius: 20px;
}

#password_form
{
	padding-top: 20px;
}

form
{
	width: 300px;

	margin: auto;
	
	text-align: center;
}

form input[type=submit]
{
	margin-top: 30px;

	width: 180px;
	height: 40px;

	border-radius: 5px;
	border: 0;

	background-color: #19D2CB;
	font-size: 1.1em;

	transition: all 0.5s;

	box-shadow: 0px 0px 2px 0.1px #00847F;
}

form input[type=submit]:hover
{
	background-color: #26E0D9;

	outline: none;
}

form input[type=submit]
{
	cursor: pointer;
}

form label
{
	float: left;

	cursor: pointer;
}

form input[type=text], form input[type=password]
{
	float:right;
}


/* a voir */
footer
{
	position: absolute;
	bottom: 0px;

	width: 100%;
	min-width: 570px;

	height: 50px;
	line-height: 50px;
	
	text-align: center;

	background-color: #0FBBB5;

	box-shadow: 0px 0px 5px 0.5px grey;
}

/* mobile portrait*/
@media(max-width: 600px)
{
	body
	{
		min-width: 370px;
	}

	#header_container
	{
		text-align: center;
	}

	header #left
	{
		float: none;
	}

	header h1:active
	{
		padding: 0;
	}

	footer
	{
		min-width: 370px;
	}
}